body{
  background-color: #333;
}
.box{
  background-color: white;
  width: 200px;
  height: 200px;
  position: relative;

  /* animation name */
  animation-name: myanimation;

  /* //time to run */
  animation-duration: 4s;

  /* amount of time to run */
  animation-iteration-count: 1;

  /* delay before start */
  animation-delay: 2s;

  /* move clock and antiClock wise */
  /* animation-direction: alternate; */

  /* move only in the reversed way clock wise only */
  /* animation-direction: reverse; */

  /* different timing speed */
  /* the same speed all round to move */
  /* animation-timing-function: linear; */
  /* fast in the ending move */
  /* animation-timing-function: ease-in; */
  /* fast in the begining move */
  /* animation-timing-function: ease-out; */
  /* default */
  /* animation-timing-function: ease-in-out; */

  /* makes it stay circle */
  animation-fill-mode: forwards;
}
/* @keyframes myanimation {
  0% {background-color: white; left: 0px; top: 0px; border-radius: 0 0 0 0;}
  25% {background-color: red; left: 300px; top: 0px; border-radius: 50% 0 0 0;}
  50% {background-color: green; left: 300px; top: 300px; border-radius: 50% 50% 0 0;}
  75% {background-color: blue; left: 0px; top: 300px; border-radius: 50% 50% 50% 0}
  100% {background-color: white; left: 0px; top: 0px; border-radius: 50% 50% 50% 50%}
} */

@keyframes myanimation {
  0% {background-color: white; border-radius: 0 0 0 0;}
  25% {background-color: red; border-radius: 50% 0 0 0;}
  50% {background-color: green; border-radius: 50% 50% 0 0;}
  75% {background-color: blue; border-radius: 50% 50% 50% 0}
  100% {background-color: white; border-radius: 50% 50% 50% 50%}
}