.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  /* height */
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;

  /* justify */
  /* align ALL THE ITEMS TO THE START of its colum (left to right)*/
  /* justify-items: start; */
  /* justify-items: center; */
  /* justify-items: end; */
  /* defualt is stretch */
  justify-items: stretch;

  /* align items */
  /*agign all items from top to down */
  /* align-items: start; */
  /* align-items: center; */
  /* align-items: end; */
  /* default */
  align-items: stretch;
}

.wrapper > div{
  background-color: #eee;
  padding: 1rem;
}
.wrapper > div:nth-child(odd){
  background-color: #ddd;
}

/* you can align and justify for each box with alignSelf or justifySelf */

/* use grid row and column to give size and place boxs how we want */
.box1{
  /* align-self: start; */
  grid-column: 1/3;
  grid-row: 1/3;
}
.box2{
  /* align-self: end; */
  grid-column: 3;
  grid-row: 1/3;
}
.box3{
  /* justify-self: end; */
  grid-column: 2/4;
  grid-row: 3;
}
.box4{
  /* justify-self: center; */

  /* overlap coloums */
  grid-column: 1;
  grid-row: 2/4;
}