body{
  background-color: #333;
}

.box{
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  top: 200px;
  /* to select property */
  /* transition-property: background-color, border-radius, transform; */

  /* you can do all at once */
  transition-property: all;
  
  /* time for effect to work */
  transition-duration: 1s;
  /* transition-delay: 2s; */

  /* many timeing function easyIn easeOut linear etc */
  transition-timing-function: ease-in;
}

.box:hover{
  background-color: red;
  border-radius: 50%;
  transform: rotateY(180deg );
}

/* 
TRANSITIONAL PROPERTIES
-Properties that have an identifiable halfway point

background-color
background-position
border-color
border-width
bottom
color
font-size
font-weight
height left
letter-spacing
line-height
margin
max-height
max-width
min-height
min-width
opacity
outline-color
outline-offset
outline-width
padding right
text-indent
text-shadow
top
vertical-align
visibility
width
word-spacing
z-index
*/